@import "variables";
@import "mixins";

.first_slide {

  margin: 0;
  background-image: url("/src/image/1st-slide/background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;

  h1 {
    margin: 0;
    padding: 17% 0 0 7.32%;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    color: $blue;
  }
}

.first_slide_group {
  display: inline-flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.big {
  flex-direction: row;
  left: 555px;
  bottom: 10px;

  .first_slide_dots {

    .small_dot {
      @include change-dots(0.9, 20px, -90px, 20px, 20px);
      animation: animate-big 1500ms infinite;
    }

    .medium_dot {
      visibility: hidden;
      @include change-dots(0.6, 10px, -54px, 40px, 40px);
    }

    .big_dot {
      @include change-dots(0.4, 0, 0, 60px, 60px);
    }

  }

  .first_slide_text {
    margin-left: -50px;
  }
}

.medium {
  flex-direction: column;
  right: 48px;
  top: 75px;

  .first_slide_dots {
    padding-left: 50px;

    .small_dot {
      @include change-dots(0.9, 13px, -63px, 15px, 15px);
      animation: animate-medium 1500ms infinite;
    }

    .medium_dot {
      visibility: hidden;
      @include change-dots(0.6, 8px, -36px, 25px, 25px);
    }

    .big_dot {
      @include change-dots(0.4, 0, 0, 40px, 40px);
    }
  }

  .first_slide_text {
    margin-bottom: 10px;
  }

}


.small {
  flex-direction: column;


  .first_slide_dots {
    padding-left: 50px;

    .small_dot {

      @include change-dots(0.9, 5px, -41px, 10px, 10px);
      animation: animate-small 1500ms infinite;
    }

    .medium_dot {
      visibility: hidden;
      @include change-dots(0.6, 2px, -22px, 16px, 16px);
    }

    .big_dot {
      @include change-dots(0.4, 0, 0, 20px, 20px);
    }
  }

  .first_slide_text {
    margin-bottom: 10px;
  }

}

.first_dot {
  right: 35px;
  top: 195px;
}

.second_dot {
  left: 158px;
  top: 175px;
}

.first_slide_text {
  @include change-text;
}

.first_slide_dots {

  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;


}

.first_slide_arrow_down {
  position: absolute;
  bottom: 230px;
  left: 460px;
  text-align: center;

  p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

  .arrow_down {
    margin-top: 15px;

    img {
      height: 30px;
      width: 60px;
    }
  }
}

@keyframes animate-small {
  0% {
    transform: scale(0.5, 0.5);
    opacity: 1
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(2, 2);
    opacity: 0.1
  }
}


@keyframes animate-medium {
  0% {
    transform: scale(1, 1);
    opacity: 1
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(2.5, 2.5);
    opacity: 0.4
  }
}

@keyframes animate-big {
  0% {
    transform: scale(1, 1);
    opacity: 1
  }
  50% {
    transform: scale(2, 2);
  }
  100% {
    transform: scale(3, 3);
    opacity: 0.4
  }
}

